/* Base minima para empezar */
*{
    box-sizing: border-box;
}

html, body{
    height: 100%;
}
/* El Body se convierte en contenedor flexible, dispuesto en columnas y que ocupe todo el alto de la ventana*/
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Cabecera con flex: 
    dos zonas: logo+titulo y menu de navegacion
*/

.cabecera{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #2C3E50;
}

.logo {
    height: 100px;
    width: auto;
    margin-top: 2.5rem;
}

.titulo {
    margin: 0;
    color: #2C3E50;
}

/* Menú horizontal con flex */
.menu {
    list-style: none; /*Eliminamos las viñetas*/
    display: flex;    /*Colocamos los elementos en filas*/
    gap: 1rem;        /*Espacia entre los ítems*/
    margin: 0;
    padding: 0;
}

/*Estillo básico de los enlaces del menú*/
.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    
}

/*Pseudoclase hover: cambiamos el estilo al situar el cursor*/
.menu a:hover {
    color: #e74c3c;
}

#contenido-principal {
    padding: 1rem;
    flex-grow: 1; /*Aplicamos factor de crecimiento para "empujar" al footer*/
}

.tarjeta {
    background: #86fafa;
    border-radius: 10px;
    width: min(900, 95%);
    margin: 1.5rem auto;
    padding: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid black;
}

/* Listas y layout simple */
.listas {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.lista {
    padding-left: 20px;
}

.lista li {
    margin: 0.25rem 0;
}

/* Tabla:
    -width: ocupa todo el ancho
    - border-collapse: une los bordes */
.tabla {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

/* Celdas: bordes y relleno */
.tabla td, .tabla th {
    border: 1px solid #ddd;
    padding: 10px;
}

/* Cabecera de la tabla de forma diferente */

.tabla th {
    background: #2C3E50;
    color: #fff;
    text-align: center;
}

/* Celdas de cuerpo de tabla diferentes */
.table td {
    text-align: left;
    white-space: nowrap; /* evita salto de lineas en las celdas */
    
}

.pie {
    text-align: center;
    padding: 1rem;
    color: #7f8c8d;
    font-size: 14px;
    background: #2C3E50;
}

/* ==========================================
   SECCION TIENDA
   ========================================== */
/* Para mayor especifidad, aplico las 2 clases a la vez */
/* Explicación:
    - La funcion min() elige el menor valor entre 1200px y el 95% del ancho disponible
    - Así, en pantallas pequeñas ocupará el 95%, y en pantallas grandes nunca superará los 1200px
    - Esto es equivalente a:
        width: 95%;
        max-width: 1200px;
    Aplicamos además estos estilos a los elementos que tengan ambas clases: tienda y tarjeta.
    Esto lo hacemos porque queremos aplicar un estilo general de .tarjeta (para las secciones normales del sitio)
    y como queremos modificar solo esta seccion concreta, sin cambiar las demás, usmaos las dos clases.
    */
.tarjeta.tienda {
    width: min(1200px, 95%);
}

.lista-cards--flex {
    display: flex;  /* activa el modelo flex*/
    flex-wrap: wrap;    /* permite que las cards salten de linea*/
    gap: 16px; 
    justify-content: center;
}

.card {
    width: 260px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
    padding: 12px;
}

/* Imagen dentro de la card */
.card-imagen {
    width: 100%;
    height: 100px;
    object-fit: fill; /* ajustar la imagne sin recortarla */
    background-color: #f4f4f4;
    border-radius: 8px;
    margin-bottom: 8px;
}

/* Textos */
.card-titulo {
    font-size: 1.1rem;
    color: #333;
    margin: 8px 0;
}

.card-descripcion {
    font-size: 0.9rem;
    color: #666;
    min-height: 3.5rem;
}

.card-precio {
    color: #b60000;
    font-weight: bold;
    margin: 8px 0;
    
}

.card-boton {
    display: inline-block;
    padding: 10px 16px;
    background-color: #2C3E50;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
}

/* ==========================================
   SECCION GRID: Introduccion visual
   ========================================== */

.contenendor-grid {
    display: grid;
    grid-template-columns: 200px 200px 200px; /* tres columnas de altura fija */
    grid-template-rows: 100px 100px; /* dos filas de altura fija*/
    gap: 10px;
    background-color: #eaeaea;
    padding: 10px;
}

.contenedor-grid:nth-child(1) {
    background-color: #b60000;
    
}