*{
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    padding-top: 50px;
}

.formulario{
    text-align: left;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.campos {
    background: #86fafa;
    border-radius: 10px;
    width: min(900, 95%);
    margin: 1.5rem;
    padding: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid black;
}

h2{
    text-align: center;
}

.form-registro {
    background-color: #fff;
    border: 4px solid firebrick;
    border-radius: 7px;
    padding: 1rem;
    width: 380px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: firebrick;
    margin: 0 auto;
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 1rem;
}

.form-row label {
    font-weight: bold;
}

.form-row input {
    padding: 0.5rem;
}

.form-row input[type="submit"],
.form-row input[type="reset"] {
    background-color: firebrick;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.form-row input[type="submit"]:hover,
.form-row input[type="reset"]:hover {
    background-color: darkred;
}